<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fazzapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FazzApplication">
        <activity
            android:name=".AcitvityOrderHistory"
            android:exported="false" />
        <activity
            android:name=".activity_Purchased"
            android:exported="false" />
        <activity
            android:name=".InstantItem"
            android:exported="false" />
        <activity
            android:name=".HouseholdItem"
            android:exported="false" />
        <activity
            android:name=".beverageitem"
            android:exported="false" />
        <activity
            android:name=".Economyitem"
            android:exported="false" />
        <activity
            android:name=".activity_payment"
            android:exported="false" />
        <activity
            android:name=".activity_cart_order"
            android:exported="false" />
        <activity
            android:name=".activity_categories"
            android:exported="false" />
        <activity
            android:name=".activity_sign_up"
            android:exported="false" />
        <activity
            android:name=".activity_forgetpassword"
            android:exported="false" />
        <activity
            android:name=".TestLogged"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>